/** {
    box-sizing: border-box;
}
#container {
    min-width: 50%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
}
#editor {
    float: left;
    width: 50%;
    height: 100%;
    background-color: red;
}
#preview {
    float: right;
    width: 50%;
    height: 100%;
    background-color: blue;
}
#text-editor {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: large;
    border: 0;
    margin: 0;
}
#text-editor_container, #script {
    height: auto;
}
th {
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #050505;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FAFAFA;
    height: 30px;
}*/
#preview {
    background-color: #f0ede3
}
ul {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 5px;
}
li {
    padding: 5px;
    color: #006699;
    font-family: "Helvetica", "Arial";
    list-style: none;
}
li.heading {
    text-align: center;
}
li.emoticon {
    font-weight: bold;
}
li.emoticon img {
    margin: 5px;
    margin-bottom: 0;
}
li.dialogue {
    font-weight: bold;
    text-align: left;
    transition: .1s;
}
li.dialogue:hover {
    background-color: #FCFCFA;
    cursor: pointer;
}
li.dialogue:active {
    background-color: #E5E2DA;
}
li.title {
    text-align: center;
    font-weight: bold;
}
li.action {
    text-align: center;
    font-style: italic;
}